@import "variables";
  
.gridBP {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  200px 1000px 400px;
    grid-template-areas: 
    "BuenasPracticas BuenasPracticas"
    "Foto Foto"
    "queSon QuienesIntegramos";

}
.buenasPracticas {background-color: transparent;
    background-image: url(../PNG/buenas-practicas.jpg);
    background-size: cover;
    background-position: 50% 50%;

}
#encabezado {
    grid-area: BuenasPracticas;
    padding: 8px;
}

#foto1 {
    grid-area: Foto;
}
#BP {
    grid-area: queSon;
}
#Quienesintegramos {
    grid-area: QuienesIntegramos;
}
