@import "variables";
  

.buenasPracticas {background-color: transparent;
    background-image: url(../PNG/buenas-practicas.jpg);
    background-size: cover;
    background-position: 50% 50%;

}
.bpa{
    
    border-radius: 100%;

}
