@import "variables";
.spacer5{ 
    h2{ margin-left: 1%;
    }
    p {
    margin-left: 1% ;
}
}
ul {
    font-size: $font-sizeT;
}

a { text-decoration: none;
    img:hover {
    transform: scale(1.07);
}    
}
a img {
    width: 250px !important;

}
.fontR {
    font-family: 'Roboto Slab', serif;
    
    margin-top: 0% !important;
    color: $font-colorT;
}
.font {font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: $font-size;
    color:$font-colorBody;
}
