@import "variables";
.spacer3{ 
    h3{ margin-left: 2% ;
    }
    p {
    margin-left: 5%;
    }
     h4{
    margin-left: 5% ;
}
}    
ul {
    font-size: $font-sizeT;
}

a { text-decoration: none;
    img:hover {
    transform: scale(1.07);
}    
}
a img {
    width: 250px !important;
}
table {
    border-collapse: collapse;
    width: 100%;
}  
th, td {
    background-color: #e6f1fa;
    text-align: left;
    padding: 20px;
}
th {
    background-color:#6c97b8;
    color: white;
}

.grande  {
    height: 1000px;
}
.font {font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: $font-size;
    color: #3a4045;
}
.flex {
    display: flex;
    flex-direction: column;
    
}

#siembra{background-color: transparent;
    background-image: url(../PNG/siembra-aérea.jpg);
    background-size: cover;
    background-position: 50% 50%;
   
    color: white;
    margin-bottom: 1%;

}
#fertilizaciones{background-color: transparent;
    background-image: url(../PNG/fertilizacion.jpg);
    background-size: cover;
    background-position: 50% 50%;
    
    margin-bottom: 1%;
    color: white;

}
#traslados{background-color: transparent;
    background-image: url(../PNG/wingview.png);
    background-size: cover;
    background-position: 50% 50%;
    
    margin-bottom: 1%;
    color: white;

}
#pulverizaciones{background-color: transparent;
    background-image: url(../PNG/pulverizaciones.jpg);
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 5px;
    
    color: white;
    margin-bottom: 1%;
}
.font-section{
    font-family: 'Poppins', sans-serif;
    
    font-size: 2em;
}
.font-section2{
    font-family: 'Poppins', sans-serif;
    
    font-size: 1em;
}