$font-colorT: black;
$font-colorBody:#3a4045;

@each $avion in pawnee, agtruck, airtractor2, centurion {
    ##{$avion}-fondo {
        background-color: transparent;
    background-image: url(../PNG/#{$avion}.jpg);
    background-size: cover;
    background-position: 50% 50%;
    justify-content: center; 
    align-items: flex-start;
        align-content: flex-start; 
        padding: 5%;
        flex-wrap: wrap;
        margin-bottom: 1%;
    }
    
}

@media (max-width: 650px) {
    .desktop{
        display: none;
    }
    .grande{
        height: 500px !important;
    }
    .compromiso{
        font-size: 25px !important;
    }
    .compromiso2{
        font-size: 15px !important;
    }
    .fontR{
        font-size: 12px !important;
    }
    #logo{
        width: 160px !important;
    }
    .font-qs{
        font-size: 20px !important;
    }
    .font-qs2{
        font-size: 16px !important;
    }
    .font-qs3{
        font-size: 10px !important;
    }
}
@media (min-width: 651px) {
    .desktop{
        display: none;
    }
    .grande{
        height: 600px !important;
    }
    .compromiso{
        font-size: 30px !important;
    }
    .compromiso2{
        font-size: 20px !important;
    }
    .fontR{
        font-size: 20px !important;
    }
    #logo{
        width: 170px !important;
    }
    .font-qs{
        font-size: 30px !important;
    }
    .font-qs2{
        font-size: 25px !important;
    }
    .font-qs3{
        font-size: 15px !important;
    }
}
@media (min-width: 767px) {
    .desktop{
        display: block;
    }
    .grande{
        height: 750px !important;
    }
    .compromiso{
        font-size: 35px !important;
    }
    .compromiso2{
        font-size: 25px !important;
    }
    .fontR{
        font-size: 1.1vw !important;
    }
    #logo{
        width: 200px !important;
    }
    .font-qs{
        font-size: 40px;
    }
    .font-qs2{
        font-size: 32px;
    }
    .font-qs3{
        font-size: 17px;
    }
}
@media (min-width: 1360px) {

    .desktop{
        display: block;
    }
    .grande{
        height: 1000px !important;
    }
    .compromiso{
        font-size: 60px !important;
    }
    .compromiso2{
        font-size: 35px !important;
    }
    .fontR{
        font-size: 1.05vw !important;
    }
    #logo{
        width: 230px !important;
    }
    .font-qs{
        font-size: 40px;
    }
    .font-qs2{
        font-size: 32px;
    }
    .font-qs3{
        font-size: 17px;
    }
    
}


