$font-sizeT: 1vw;
$font-size: 1vw;
$font-colorT: black;
$font-colorBody:#3a4045;

@each $avion in pawnee, agtruck, airtractor2, centurion {
    ##{$avion}-fondo {
        background-color: transparent;
    background-image: url(../PNG/#{$avion}.jpg);
    background-size: cover;
    background-position: 50% 50%;
    justify-content: center; 
    align-items: flex-start;
        align-content: flex-start; 
        padding: 5%;
        flex-wrap: wrap;
        margin-bottom: 1%;
    }
    
}
