@import "servicios-ofrecidos";
@import "quienes-somos";
@import "buenas-practicas";
@import "nuestra-flota";
@import "contacto";
@import "variables";


footer {
    background-color: #374089;
}
footer section p {
    color: white !important;
}
.div-compromiso {
    font-weight: 700;
    text-align: center;
    height: 200px;
    background-color: #00865f;    
}
.compromiso {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #ffffff;
    
}
.compromiso2{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color:   #ffffff;
    
}

a { text-decoration: none;
    img:hover {
    transform: scale(1.07);
    transition-duration: 1s;
}    
}
#logo{
    width: 250px;
}
.fa:hover {
    opacity: 0.7;
    text-decoration: none;

}
.fa {
    display: flex;
    padding: 20px;
    font-size: 40px;
    width: 60px;
    text-decoration: none;
    margin: 5px 2px;
    transition: .2s ease all;
    
}

.fa-facebook {
    background: #f8f9fa;
    color: #3B5998;
}
.fa-twitter {
    background: #f8f9fa;
    color:  #55ACEE;
}
.fa-linkedin {
    background: #f8f9fa;
    color: #007bb5;
}
.fa-youtube {
    background:#f8f9fa;
    color: #bb0000;
}
.fa-instagram {
    background: #f8f9fa;
    color: #E1306C;
}    

#pawneeta {
    
    background-color: transparent;
    background-image: url(../PNG/PA25.jpg);
    
}
#airTractor-2 {
    background-color: transparent;
    background-image: url(../PNG/at2.jpg);
    
}
#particles-js{
  background-color: gray;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

}
#particles-up{
    position: absolute;
    top: 20%;
    left: 50px;
    right: 50px;
    padding: 30px;
    border-radius: 25px;

}
.bg-full{
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
.bg-full *{
    z-index: 1;
}
.grande  {
    height: 1000px;
}
.font {font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #3a4045;
}
.fontR {font-family: 'Poppins', sans-serif;
    font-size: 1.1vw;
    color: #3a4045;
}
.bg-full::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg-presupuesto{
    background-image: url(../PNG/dots.jpg);
    background-size: cover;
}    
.carousel{
    @media (max-width: 750px){
        display: none;
    }
}
.bg-nav{
    background-color: #f8f9fa!important;
}
.bg-blue{
    background-color: #374089 !important;
}
