@charset "UTF-8";
/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

@media (min-width: 600px) {
  /* line 25, ../Coder/scss/_variables.scss */
  .mobile {
    display: none;
  }
}

@media (max-width: 599px) {
  /* line 31, ../Coder/scss/_variables.scss */
  .desktop {
    display: none;
  }
  /* line 34, ../Coder/scss/_variables.scss */
  .grande {
    height: 500px !important;
  }
  /* line 37, ../Coder/scss/_variables.scss */
  .compromiso {
    font-size: 25px !important;
  }
  /* line 40, ../Coder/scss/_variables.scss */
  .compromiso2 {
    font-size: 15px !important;
  }
}

/* line 3, ../Coder/scss/_servicios-ofrecidos.scss */
table {
  border-collapse: collapse;
  width: 100%;
}

/* line 7, ../Coder/scss/_servicios-ofrecidos.scss */
th, td {
  background-color: #e6f1fa;
  text-align: left;
  padding: 20px;
}

/* line 12, ../Coder/scss/_servicios-ofrecidos.scss */
th {
  background-color: #6c97b8;
  color: white;
}

/* line 17, ../Coder/scss/_servicios-ofrecidos.scss */
#siembra {
  background-color: transparent;
  background-image: url(../PNG/siembra-aérea.jpg);
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  margin-bottom: 1%;
}

/* line 26, ../Coder/scss/_servicios-ofrecidos.scss */
#fertilizaciones {
  background-color: transparent;
  background-image: url(../PNG/fertilizacion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 1%;
  color: white;
}

/* line 35, ../Coder/scss/_servicios-ofrecidos.scss */
#traslados {
  background-color: transparent;
  background-image: url(../PNG/wingview.png);
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 1%;
  color: white;
}

/* line 44, ../Coder/scss/_servicios-ofrecidos.scss */
#pulverizaciones {
  background-color: transparent;
  background-image: url(../PNG/pulverizaciones.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 5px;
  color: white;
  margin-bottom: 1%;
}

/* line 53, ../Coder/scss/_servicios-ofrecidos.scss */
.font-section {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

/* line 58, ../Coder/scss/_servicios-ofrecidos.scss */
.font-section2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}

/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

@media (min-width: 600px) {
  /* line 25, ../Coder/scss/_variables.scss */
  .mobile {
    display: none;
  }
}

@media (max-width: 599px) {
  /* line 31, ../Coder/scss/_variables.scss */
  .desktop {
    display: none;
  }
  /* line 34, ../Coder/scss/_variables.scss */
  .grande {
    height: 500px !important;
  }
  /* line 37, ../Coder/scss/_variables.scss */
  .compromiso {
    font-size: 25px !important;
  }
  /* line 40, ../Coder/scss/_variables.scss */
  .compromiso2 {
    font-size: 15px !important;
  }
}

/* line 3, ../Coder/scss/_quienes-somos.scss */
.grande div {
  height: 1000px;
}

/* line 6, ../Coder/scss/_quienes-somos.scss */
.flex {
  display: flex;
  flex-direction: column;
}

/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

@media (min-width: 600px) {
  /* line 25, ../Coder/scss/_variables.scss */
  .mobile {
    display: none;
  }
}

@media (max-width: 599px) {
  /* line 31, ../Coder/scss/_variables.scss */
  .desktop {
    display: none;
  }
  /* line 34, ../Coder/scss/_variables.scss */
  .grande {
    height: 500px !important;
  }
  /* line 37, ../Coder/scss/_variables.scss */
  .compromiso {
    font-size: 25px !important;
  }
  /* line 40, ../Coder/scss/_variables.scss */
  .compromiso2 {
    font-size: 15px !important;
  }
}

/* line 3, ../Coder/scss/_buenas-practicas.scss */
.gridBP {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 1000px 400px;
  grid-template-areas: "BuenasPracticas BuenasPracticas" "Foto Foto" "queSon QuienesIntegramos";
}

/* line 13, ../Coder/scss/_buenas-practicas.scss */
.buenasPracticas {
  background-color: transparent;
  background-image: url(../PNG/buenas-practicas.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

/* line 19, ../Coder/scss/_buenas-practicas.scss */
#encabezado {
  grid-area: BuenasPracticas;
  padding: 8px;
}

/* line 24, ../Coder/scss/_buenas-practicas.scss */
#foto1 {
  grid-area: Foto;
}

/* line 27, ../Coder/scss/_buenas-practicas.scss */
#BP {
  grid-area: queSon;
}

/* line 30, ../Coder/scss/_buenas-practicas.scss */
#Quienesintegramos {
  grid-area: QuienesIntegramos;
}

/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

@media (min-width: 600px) {
  /* line 25, ../Coder/scss/_variables.scss */
  .mobile {
    display: none;
  }
}

@media (max-width: 599px) {
  /* line 31, ../Coder/scss/_variables.scss */
  .desktop {
    display: none;
  }
  /* line 34, ../Coder/scss/_variables.scss */
  .grande {
    height: 500px !important;
  }
  /* line 37, ../Coder/scss/_variables.scss */
  .compromiso {
    font-size: 25px !important;
  }
  /* line 40, ../Coder/scss/_variables.scss */
  .compromiso2 {
    font-size: 15px !important;
  }
}

/* line 3, ../Coder/scss/_nuestra-flota.scss */
.body-bg {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 6, ../Coder/scss/_nuestra-flota.scss */
.font-qs {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1vw;
}

/* line 11, ../Coder/scss/_nuestra-flota.scss */
.container-nf {
  position: relative;
  width: 100%;
}

/* line 15, ../Coder/scss/_nuestra-flota.scss */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* line 20, ../Coder/scss/_nuestra-flota.scss */
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 32, ../Coder/scss/_nuestra-flota.scss */
.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e53d3c7d;
}

/* line 44, ../Coder/scss/_nuestra-flota.scss */
.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #4b89c68c;
}

/* line 56, ../Coder/scss/_nuestra-flota.scss */
.overlay4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #100b0d7d;
}

/* line 68, ../Coder/scss/_nuestra-flota.scss */
.container-nf:hover .overlay1 {
  opacity: 1;
}

/* line 71, ../Coder/scss/_nuestra-flota.scss */
.container-nf:hover .overlay2 {
  opacity: 1;
}

/* line 74, ../Coder/scss/_nuestra-flota.scss */
.container-nf:hover .overlay3 {
  opacity: 1;
}

/* line 77, ../Coder/scss/_nuestra-flota.scss */
.container-nf:hover .overlay4 {
  opacity: 1;
}

/* line 80, ../Coder/scss/_nuestra-flota.scss */
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

@media (min-width: 600px) {
  /* line 25, ../Coder/scss/_variables.scss */
  .mobile {
    display: none;
  }
}

@media (max-width: 599px) {
  /* line 31, ../Coder/scss/_variables.scss */
  .desktop {
    display: none;
  }
  /* line 34, ../Coder/scss/_variables.scss */
  .grande {
    height: 500px !important;
  }
  /* line 37, ../Coder/scss/_variables.scss */
  .compromiso {
    font-size: 25px !important;
  }
  /* line 40, ../Coder/scss/_variables.scss */
  .compromiso2 {
    font-size: 15px !important;
  }
}

/* line 2, ../Coder/scss/_contacto.scss */
.bg-contact {
  margin: 0%;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(../PNG/bg-contacto.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* line 12, ../Coder/scss/_contacto.scss */
.contact-form {
  border-radius: 10px;
  padding: 72px 55px 90px 55px;
}

/* line 16, ../Coder/scss/_contacto.scss */
.contact-wrap {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
  z-index: 1;
}

/* line 24, ../Coder/scss/_contacto.scss */
.bg-contact::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 33, ../Coder/scss/_contacto.scss */
.contact-header {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 39px;
  color: black;
}

/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

@media (min-width: 600px) {
  /* line 25, ../Coder/scss/_variables.scss */
  .mobile {
    display: none;
  }
}

@media (max-width: 599px) {
  /* line 31, ../Coder/scss/_variables.scss */
  .desktop {
    display: none;
  }
  /* line 34, ../Coder/scss/_variables.scss */
  .grande {
    height: 500px !important;
  }
  /* line 37, ../Coder/scss/_variables.scss */
  .compromiso {
    font-size: 25px !important;
  }
  /* line 40, ../Coder/scss/_variables.scss */
  .compromiso2 {
    font-size: 15px !important;
  }
}

/* line 9, ../Coder/scss/style.scss */
footer {
  background-color: #374089;
}

/* line 12, ../Coder/scss/style.scss */
footer section p {
  color: white !important;
}

/* line 15, ../Coder/scss/style.scss */
.div-compromiso {
  font-weight: 700;
  text-align: center;
  height: 200px;
  background-color: #00865f;
}

/* line 21, ../Coder/scss/style.scss */
.compromiso {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  color: #ffffff;
}

/* line 27, ../Coder/scss/style.scss */
.compromiso2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #ffffff;
}

/* line 33, ../Coder/scss/style.scss */
a {
  text-decoration: none;
}

/* line 34, ../Coder/scss/style.scss */
a img:hover {
  transform: scale(1.07);
  transition-duration: 1s;
}

/* line 39, ../Coder/scss/style.scss */
#logo {
  width: 250px !important;
}

/* line 42, ../Coder/scss/style.scss */
.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

/* line 47, ../Coder/scss/style.scss */
.fa {
  display: flex;
  padding: 20px;
  font-size: 40px;
  width: 60px;
  text-decoration: none;
  margin: 5px 2px;
  transition: .2s ease all;
}

/* line 58, ../Coder/scss/style.scss */
.fa-facebook {
  background: #f8f9fa;
  color: #3B5998;
}

/* line 62, ../Coder/scss/style.scss */
.fa-twitter {
  background: #f8f9fa;
  color: #55ACEE;
}

/* line 66, ../Coder/scss/style.scss */
.fa-linkedin {
  background: #f8f9fa;
  color: #007bb5;
}

/* line 70, ../Coder/scss/style.scss */
.fa-youtube {
  background: #f8f9fa;
  color: #bb0000;
}

/* line 74, ../Coder/scss/style.scss */
.fa-instagram {
  background: #f8f9fa;
  color: #E1306C;
}

/* line 79, ../Coder/scss/style.scss */
#pawneeta {
  background-color: transparent;
  background-image: url(../PNG/PA25.jpg);
}

/* line 85, ../Coder/scss/style.scss */
#airTractor-2 {
  background-color: transparent;
  background-image: url(../PNG/at2.jpg);
}

/* line 90, ../Coder/scss/style.scss */
.bg-full {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

/* line 95, ../Coder/scss/style.scss */
.bg-full * {
  z-index: 1;
}

/* line 98, ../Coder/scss/style.scss */
.grande {
  height: 1000px;
}

/* line 101, ../Coder/scss/style.scss */
.font {
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  color: #3a4045;
}

/* line 105, ../Coder/scss/style.scss */
.fontR {
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  color: #3a4045;
}

/* line 109, ../Coder/scss/style.scss */
.bg-full::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 118, ../Coder/scss/style.scss */
.bg-presupuesto {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 750px) {
  /* line 126, ../Coder/scss/style.scss */
  .carousel {
    display: none;
  }
}

/* line 131, ../Coder/scss/style.scss */
.bg-nav {
  background-color: #f8f9fa !important;
}

/* line 134, ../Coder/scss/style.scss */
.bg-blue {
  background-color: #374089 !important;
}

/*# sourceMappingURL=style.css.map */