@charset "UTF-8";
/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 3, ../Coder/scss/_servicios-ofrecidos.scss */
.spacer3 h3 {
  margin-left: 2%;
}

/* line 5, ../Coder/scss/_servicios-ofrecidos.scss */
.spacer3 p {
  margin-left: 5%;
}

/* line 8, ../Coder/scss/_servicios-ofrecidos.scss */
.spacer3 h4 {
  margin-left: 5%;
}

/* line 12, ../Coder/scss/_servicios-ofrecidos.scss */
ul {
  font-size: 1.4rem;
}

/* line 16, ../Coder/scss/_servicios-ofrecidos.scss */
a {
  text-decoration: none;
}

/* line 17, ../Coder/scss/_servicios-ofrecidos.scss */
a img:hover {
  transform: scale(1.07);
}

/* line 21, ../Coder/scss/_servicios-ofrecidos.scss */
a img {
  width: 250px !important;
}

/* line 24, ../Coder/scss/_servicios-ofrecidos.scss */
table {
  border-collapse: collapse;
  width: 100%;
}

/* line 28, ../Coder/scss/_servicios-ofrecidos.scss */
th, td {
  background-color: #e6f1fa;
  text-align: left;
  padding: 20px;
}

/* line 33, ../Coder/scss/_servicios-ofrecidos.scss */
th {
  background-color: #6c97b8;
  color: white;
}

/* line 37, ../Coder/scss/_servicios-ofrecidos.scss */
.fontR {
  font-family: 'Roboto Slab', serif;
  transition: all 3s;
  margin-top: 0% !important;
}

/* line 42, ../Coder/scss/_servicios-ofrecidos.scss */
.grande {
  height: 1000px;
}

/* line 45, ../Coder/scss/_servicios-ofrecidos.scss */
.font {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 1.4rem;
  color: #3a4045;
}

/* line 49, ../Coder/scss/_servicios-ofrecidos.scss */
.flex {
  display: flex;
  flex-direction: column;
}

/* line 54, ../Coder/scss/_servicios-ofrecidos.scss */
.grid {
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  grid-template-areas: "masInfo copyright socialMedia";
  justify-items: center;
}

/* line 65, ../Coder/scss/_servicios-ofrecidos.scss */
#encabezado {
  grid-area: BuenasPracticas;
  padding: 8px;
}

/* line 70, ../Coder/scss/_servicios-ofrecidos.scss */
#foto1 {
  grid-area: Foto;
}

/* line 73, ../Coder/scss/_servicios-ofrecidos.scss */
#BP {
  grid-area: queSon;
}

/* line 76, ../Coder/scss/_servicios-ofrecidos.scss */
#siembra {
  background-color: transparent;
  background-image: url(../PNG/siembra-aérea.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  color: white;
  margin-bottom: 1%;
}

/* line 87, ../Coder/scss/_servicios-ofrecidos.scss */
#fertilizaciones {
  background-color: transparent;
  background-image: url(../PNG/fertilizacion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 1%;
  color: white;
}

/* line 98, ../Coder/scss/_servicios-ofrecidos.scss */
#traslados {
  background-color: transparent;
  background-image: url(../PNG/wingview.png);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 1%;
}

/* line 108, ../Coder/scss/_servicios-ofrecidos.scss */
#pulverizaciones {
  background-color: transparent;
  background-image: url(../PNG/pulverizaciones.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 5px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  color: white;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 3, ../Coder/scss/_quienes-somos.scss */
.spacer2 section h3 {
  margin-left: 1%;
}

/* line 5, ../Coder/scss/_quienes-somos.scss */
.spacer2 section p {
  margin-left: 1%;
}

/* line 9, ../Coder/scss/_quienes-somos.scss */
ul {
  font-size: 1.3rem;
}

/* line 13, ../Coder/scss/_quienes-somos.scss */
a {
  text-decoration: none;
}

/* line 14, ../Coder/scss/_quienes-somos.scss */
a img:hover {
  transform: scale(1.07);
}

/* line 18, ../Coder/scss/_quienes-somos.scss */
a img {
  width: 250px !important;
}

/* line 22, ../Coder/scss/_quienes-somos.scss */
.fontR {
  font-family: 'Roboto Slab', serif;
  transition: all 3s;
  margin-top: 0% !important;
  font-size: 1.4rem !important;
}

/* line 27, ../Coder/scss/_quienes-somos.scss */
.grande div {
  height: 1000px;
}

/* line 30, ../Coder/scss/_quienes-somos.scss */
.font {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 1.4rem;
  color: #3a4045;
}

/* line 34, ../Coder/scss/_quienes-somos.scss */
.flex {
  display: flex;
  flex-direction: column;
}

/* line 39, ../Coder/scss/_quienes-somos.scss */
.maizal {
  background-color: transparent;
  background-image: url(../PNG/maizal.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

/* line 45, ../Coder/scss/_quienes-somos.scss */
#quienesSomos {
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-start;
}

/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 3, ../Coder/scss/_buenas-practicas.scss */
.spacer6 h2 {
  margin-left: 1%;
}

/* line 5, ../Coder/scss/_buenas-practicas.scss */
.spacer6 p {
  margin-left: 1%;
}

/* line 8, ../Coder/scss/_buenas-practicas.scss */
.spacer6 h3 {
  margin-left: 10%;
}

/* line 12, ../Coder/scss/_buenas-practicas.scss */
ul {
  font-size: 1.4rem;
}

/* line 16, ../Coder/scss/_buenas-practicas.scss */
a {
  text-decoration: none;
}

/* line 17, ../Coder/scss/_buenas-practicas.scss */
a img:hover {
  transform: scale(1.07);
}

/* line 21, ../Coder/scss/_buenas-practicas.scss */
a img {
  width: 250px !important;
}

/* line 25, ../Coder/scss/_buenas-practicas.scss */
.fontR {
  font-family: 'Roboto Slab', serif;
  transition: all 3s;
  margin-top: 0% !important;
  color: black;
}

/* line 31, ../Coder/scss/_buenas-practicas.scss */
.font {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 1.4rem;
  color: #3a4045;
}

/* line 35, ../Coder/scss/_buenas-practicas.scss */
.gridBP {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 1000px 400px;
  grid-template-areas: "BuenasPracticas BuenasPracticas" "Foto Foto" "queSon QuienesIntegramos";
}

/* line 45, ../Coder/scss/_buenas-practicas.scss */
.buenasPracticas {
  background-color: transparent;
  background-image: url(../PNG/buenas-practicas.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

/* line 51, ../Coder/scss/_buenas-practicas.scss */
#encabezado {
  grid-area: BuenasPracticas;
  padding: 8px;
}

/* line 56, ../Coder/scss/_buenas-practicas.scss */
#foto1 {
  grid-area: Foto;
}

/* line 59, ../Coder/scss/_buenas-practicas.scss */
#BP {
  grid-area: queSon;
}

/* line 62, ../Coder/scss/_buenas-practicas.scss */
#Quienesintegramos {
  grid-area: QuienesIntegramos;
}

/*@media (min-width: 768px) {
    
    .gridBP {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  200px 1000px 400px;
        grid-template-areas:
         
    "BuenasPracticas BuenasPracticas"
    "Foto Foto"
    "queSon" 
    "QuienesIntegramos"
    }
}*/
/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 3, ../Coder/scss/_nuestra-flota.scss */
.spacer div section h4 {
  margin-left: 6%;
}

/* line 5, ../Coder/scss/_nuestra-flota.scss */
.spacer div section p {
  margin-left: 6%;
}

/* line 9, ../Coder/scss/_nuestra-flota.scss */
ul {
  font-size: 1.4rem;
}

/* line 12, ../Coder/scss/_nuestra-flota.scss */
a {
  text-decoration: none;
}

/* line 13, ../Coder/scss/_nuestra-flota.scss */
a img:hover {
  transform: scale(1.07);
}

/* line 17, ../Coder/scss/_nuestra-flota.scss */
a img {
  width: 250px !important;
}

/* line 20, ../Coder/scss/_nuestra-flota.scss */
.fontR {
  font-family: 'Roboto Slab', serif;
  transition: all 3s;
  margin-top: 0% !important;
}

/* line 24, ../Coder/scss/_nuestra-flota.scss */
.grande {
  height: 1000px;
}

/* line 27, ../Coder/scss/_nuestra-flota.scss */
.font {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 1.4rem;
  color: #3a4045;
}

/* line 31, ../Coder/scss/_nuestra-flota.scss */
.flex {
  display: flex;
  flex-direction: column;
}

/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 3, ../Coder/scss/_contacto.scss */
.spacer5 h2 {
  margin-left: 1%;
}

/* line 5, ../Coder/scss/_contacto.scss */
.spacer5 p {
  margin-left: 1%;
}

/* line 9, ../Coder/scss/_contacto.scss */
ul {
  font-size: 1.4rem;
}

/* line 13, ../Coder/scss/_contacto.scss */
a {
  text-decoration: none;
}

/* line 14, ../Coder/scss/_contacto.scss */
a img:hover {
  transform: scale(1.07);
}

/* line 18, ../Coder/scss/_contacto.scss */
a img {
  width: 250px !important;
}

/* line 22, ../Coder/scss/_contacto.scss */
.fontR {
  font-family: 'Roboto Slab', serif;
  transition: all 3s;
  margin-top: 0% !important;
  color: black;
}

/* line 28, ../Coder/scss/_contacto.scss */
.font {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 1.4rem;
  color: #3a4045;
}

/* line 7, ../Coder/scss/_variables.scss */
#pawnee-fondo {
  background-color: transparent;
  background-image: url(../PNG/pawnee.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#agtruck-fondo {
  background-color: transparent;
  background-image: url(../PNG/agtruck.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#airtractor2-fondo {
  background-color: transparent;
  background-image: url(../PNG/airtractor2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 7, ../Coder/scss/_variables.scss */
#centurion-fondo {
  background-color: transparent;
  background-image: url(../PNG/centurion.jpg);
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5%;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

/* line 8, ../Coder/scss/style.scss */
footer {
  background-color: #374089;
  color: white !important;
}

/* line 12, ../Coder/scss/style.scss */
.blanco {
  height: 100px;
}

/* line 16, ../Coder/scss/style.scss */
.spacer4 h3 {
  margin-left: 5%;
}

/* line 18, ../Coder/scss/style.scss */
.spacer4 p {
  margin-left: 5%;
}

/* line 23, ../Coder/scss/style.scss */
.h3 h3 {
  margin-left: 1%;
}

/* line 25, ../Coder/scss/style.scss */
.h3 p {
  margin-left: 1%;
}

/* line 29, ../Coder/scss/style.scss */
ul {
  font-size: 1.4rem;
}

/* line 33, ../Coder/scss/style.scss */
a {
  text-decoration: none;
}

/* line 34, ../Coder/scss/style.scss */
a img:hover {
  transform: scale(1.07);
  transition-duration: 1s;
}

/* line 39, ../Coder/scss/style.scss */
a img {
  width: 250px !important;
}

/* line 43, ../Coder/scss/style.scss */
.fa:hover {
  opacity: 0.7;
}

/* line 46, ../Coder/scss/style.scss */
.fa {
  display: flex;
  padding: 20px;
  font-size: 40px;
  width: 60px;
  text-decoration: none;
  margin: 5px 2px;
}

/* line 54, ../Coder/scss/style.scss */
footer {
  height: 300px;
}

/* line 58, ../Coder/scss/style.scss */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* line 64, ../Coder/scss/style.scss */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* line 68, ../Coder/scss/style.scss */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* line 72, ../Coder/scss/style.scss */
.fa-youtube {
  background: #bb0000;
  color: white;
}

/* line 76, ../Coder/scss/style.scss */
.fa-instagram {
  background: #E1306C;
  color: white;
}

/* line 80, ../Coder/scss/style.scss */
.fontR {
  font-family: 'Roboto Slab', serif;
  transition: all 3s;
  margin-top: 0% !important;
}

/* line 85, ../Coder/scss/style.scss */
.pawneeta {
  background-color: transparent;
  background-image: url(../PNG/PA25.jpg);
  background-size: cover;
}

/* line 90, ../Coder/scss/style.scss */
.at2 {
  background-color: transparent;
  background-image: url(../PNG/at2.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

/* line 95, ../Coder/scss/style.scss */
.grande {
  height: 1000px;
}

/* line 98, ../Coder/scss/style.scss */
.font {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 1.4rem;
  color: #3a4045;
}

/* line 102, ../Coder/scss/style.scss */
.flex {
  display: flex;
  flex-direction: column;
}

/* line 108, ../Coder/scss/style.scss */
#img2 {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  color: #e0e0e0;
}

/* line 115, ../Coder/scss/style.scss */
#img3 {
  margin-top: 5px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1%;
  color: #e0e0e0;
}

/*# sourceMappingURL=style.css.map */